////////////////////////
// Tool_1 config file //
////////////////////////


process { 
	container = 'nanozoo/abricate:1.0.1--8960147'    
}


profiles {

  standard {
    singularity.enabled = true
  }

  docker {
    docker.enabled = true
    runOptions ='-u $(id -u):$(id -g)'
  }

}


params {
	help = false
	abricateDB = "card"
	identity = "80"
	coverage = "50"
}

//// THE END ////

